@model ContosoUniversity.Models.ViewModels.InstructorEditForm

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstMidName" class="control-label"></label>
                <input asp-for="FirstMidName" class="form-control" />
                <span asp-validation-for="FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office" class="control-label">Office</label>
                <input asp-for="Office" class="form-control" />
                <span asp-validation-for="Office" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses" class="control-label">Course(s)</label>
                <table>                   
                    @if (Model.Courses != null)
                    {
                        <thead>
                            <tr>
                                <th>Assign</th>
                                <th>Title</th>
                            </tr>
                        </thead>                        
                        @foreach (var course in Model.Courses)
                        {
                            var selOption = "";
                            @if (course.Assigned)
                            {
                                selOption = "checked";
                            }
                            <tr>
                                <td><input type="checkbox"
                                               name="selectedCourses"
                                               value="@course.CourseID"
                                               @selOption/>
                                </td>
                                <td>@course.Title</td>
                            </tr>                            
                        }
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
