@model ContosoUniversity.Models.ViewModels.StudentEditForm

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstMidName" class="control-label"></label>
                <input asp-for="FirstMidName" class="form-control" />
                <span asp-validation-for="FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses" class="control-label">Course(s)</label>
                <table>                   
                    <col align="center">
                    <col align="left">
                    <col align="center">
                                        
                    @if (Model.Courses != null)
                    {
                        <thead>
                            <tr>
                                <th>Enroll</th>
                                <th>Title</th>
                                <th>Grade</th>
                            </tr>
                        </thead>                        
                        @foreach (var course in Model.Courses)
                        {
                            var selOption = "";
                            @if (course.Enrolled)
                            {
                                selOption = "checked";
                            }
                            <tr>
                                <td><input type="checkbox"
                                               name="selectedCourses"
                                               value="@course.CourseID"
                                               @selOption/>
                                </td>
                                <td>@course.Title</td>
                                <td>
                                    <select name="selectedGrades" class="form-control">
                                        <option value="">None</option>
                                        @{
                                            var gradeNames = Enum.GetNames(typeof(Grade));
                                            var gradeValues = Enum.GetValues(typeof(Grade));
                                        }
                                        @for (int i = 0; i < gradeValues.Length; i ++)
                                        {
                                            <option value="@gradeValues.GetValue(i)">@gradeNames.GetValue(i)</option>
                                        }
                                    </select>
                                    <!--<span asp-validation-for="Grade" class="text-danger"></span>-->
                                </td>
                            </tr>             
                        }
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
